@model Todo.Models.TodoTask

@if (Model != null)
{
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="TodoListId" />
        <table>
            <tr>
                <td>
                    Naziv:
                </td>
                <td>
                    <input asp-for="@Model.Description" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    Status:
                </td>
                <td>
                    <input asp-for="@Model.Status" type="checkbox" />
                </td>
            </tr>
        </table>

        <button type="submit">Spremi promjene</button>

    </form>
}
else
{
    <p>Todo Task not found!</p>
}
